.svg_size {
  padding: 2em;
  width: 7em;
  height: auto;
}

.flex_display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  text-align: center;
  padding-bottom: 1.5em;
}

@media (max-width: 414px) {
  .svg_size {
    padding: 1em;
    width: 5em;
    height: auto;
  }
  .header {
    text-align: center;
    padding-bottom: .5em;
  }
}
