.container {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,.1);
  position: inherit;
}

.left_items {
  display: flex;
  align-items: center;
  float: left;
  padding-left: 1em;
}

.right_items {
  display: flex;
  align-items: center;
  float: right;
  padding-right: 1em;
}

.spacing{
  padding-right: 1.25em;
}