.container {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.button {
  border: 0;
  background: white;
  box-shadow: none;
  border-radius: 0px;
  color: black;
}

.button_start {
  border: 0;
  background: white;
  box-shadow: none;
  border-radius: 0px;
  color: white;
}

.img_size {
  width: 90%;
  height: auto;
  transition: transform .35s ease-in-out;

}

.animate {
  transition: transform .35s ease-in-out;
}