.text {
  width: 85%;
  margin: auto;
  line-height: 2em;
  font-size: 1.15em;
}

.img_container {
  display: flex; 
  flex-direction: row;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0em;
  margin-bottom: 4em;
}

.img {
  width: 95%;
  height: auto;
  margin: auto;
  padding: .5em;
}

@media (max-width: 414px) {
  .img {
    width: 95%;
    height: auto;
    margin: auto;
    padding-bottom: 0;
  }
  .text {
    text-align: center;
  }
}